<header id="header">
  <h1 class="header-top">Bything</h1>
</header>
<div id="contents">
  <div class="space"></div>
  <% if user_signed_in? %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
  <% end %>
</div>
<div id="footer">
  <ul class="table-ul">
　  <li><a href="/" class="fas fa-home fa-home-2"></a></li>
　  <li><a href="/users" class="fas fa-search fa-search-1"></a></li>
　  <li><a href="/" class="fas fa-plus-circle fa-plus-circle-1"></a></li>
  　<li><a href="/" class="fas fa-sync-alt fa-sync-alt-1"></a></li>
  　<li><a href="/users/<%= current_user.id %>" class="fas fa-user fa-user-1"></a></li>
  </ul>　
</div>
      
  