<div class="yourthing-index">
    <div class="yourthing-index-image" style="background-image: url(<%= rails_blob_path(havething.image) %>) ">
        <div class="yourthing-index-price">¥<%= havething.price %></div>
    </div>
    <div class="yourthing-index-name"><%= havething.name %></div>
</div>