<div class="yourthing-index">
    <div class="yourthing-index-image" style="background-image: url(<%= rails_blob_path(wantthing.image) %>) "></div>
    <div class="yourthing-index-name"><%= wantthing.name %></div>
</div>