/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
  font-family: 'Josef';
  src: font-url('Lobster-Regular.ttf') format("truetype");
}

//sessions.new
.login-top {
    font-size: 7vh;
    text-align: center;
    margin-top: 10vh;
    font-family: 'Josef';
    color: #4b578f;
}
.login-contents {
    text-align: center;
    margin-top: 8vh;
}
.login-form {
    width: 60vw;
    height: 4vh;
    font-size: 1.5vh;
    border: solid 1px #e0e0e0;
    margin-top: 1vh;
    border-radius: 0.25em;
}
.login-input {
    margin-top: 4vh;
    width: 60vw;
    height: 4vh;
    background:#4b578f;
    color: #ffffff;
    font-size: 2vh;
    border-radius: 0.5em;
}
.login-sub {
    margin-top: 3vh;
}
//regislations.new
.signup-top {
    font-size: 7vh;
    text-align: center;
    margin-top: 8vh;
    font-family: 'Josef';
    color: #4b578f;
}
.signup-contents {
    text-align: center;
    margin-top: 8vh;
}
.signup-form {
    width: 60vw;
    height: 4vh;
    font-size: 1.5vh;
    border: solid 1px #e0e0e0;
    margin-top: 1vh;
    border-radius: 0.25em;
}
.signup-input {
    margin-top: 4vh;
    width: 60vw;
    height: 4vh;
    background:#4b578f;
    color: #ffffff;
    font-size: 2vh;
    border-radius: 0.5em;
}
//shared.link
.link-btn {
    font-size: 1.5vh;
}