// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top.index
#header {
    width: 100vw;
    border-bottom: solid 3px #d0d0d0;
    height: 6.5vh;
    position:fixed;
    background:#ffffff;
    z-index: 2;
}

.header-top {
    font-size: 5vh;
    text-align: center;
    font-family: 'Josef';
    color: #4b578f;
    margin-top: 0.2vh;
    z-index: 1;
}
#contents {
    overflow: auto;
    position:fixed;
    height: 92vh;
    width: 100vw;
    margin-top:0vh;
}
.space {
    height: 6.5vh;
}
#footer {
    border-top: solid 3px #d0d0d0;
    height: 8vh;
    width: 100vw;
    position:fixed;
    background:#ffffff;
    z-index: 1;
    margin-top: 92vh;
}
.fa-home-1 {
    color: #999999;
    font-size: 4.5vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-search-1 {
    color: #999999;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-plus-circle-1 {
    color: #999999;
    font-size: 4.5vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-sync-alt-1 {
    color: #999999;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-user-1 {
    color: #999999;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-home-2 {
    color: #000000;
    font-size: 4.5vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-search-2 {
    color: #000000;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-plus-circle-2 {
    color: #000000;
    font-size: 4.5vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-sync-alt-2 {
    color: #000000;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 1vh;
}
.fa-user-2 {
    color: #000000;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 1vh;
}
.table-ul {
  display: table;
  table-layout: fixed;
  text-align: center;
  width: 100vw;
  margin-left: -10vw;
}
.table-ul li {
  display: table-cell;
  vertical-align: middle;
}