// Place all the styles related to the wantthings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//wantthing.new
.havethings-icone-2 {
    color: #d0d0d0;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 0.5vh;
}
.wantthings-icone-2 {
    color: #6fb7ff;
    font-size: 4vh;
    text-decoration: none;
    margin-top: 0.5vh;
}